.analysis-result .sentences .sentense-analysis {
    display: flex;
    align-items: center;
    padding: 0px 0px 5px 10px;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.analysis-result .sentences .sentense-analysis .text {
    width: 80%;
    color:
        #000;
}

.analysis-result .sentences .sentense-analysis .tone {
    text-align: center;
    width: 15%;
    margin: 0 auto;
    font-weight: 500;
}

.analysis-result .sentences .sentense-analysis span {
    width: 70px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #000;
    justify-self: center;
    margin-left: auto;
}