.magnitude-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background-color: aliceblue;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
}

.wave-wrapper {
    width: 100%;
    overflow: hidden;
}

@keyframes drawWave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--period)));
    }
}

.magnitude-container svg {
    align-self: flex-start;
    top: 0px;
    left: 0px;
    max-width: 10000000px;
    animation: drawWave calc(var(--wave-speed)) linear infinite;
}

.magnitude-container h4 {
    color: rgb(41, 41, 41);
}