.analysis-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    margin-bottom: 50px;
}

.analysis-result .total-result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    gap: 20px;
    
    height: 4rem;
}

.analysis-result .total-result h2 {
    color: rgb(41, 41, 41);
}

.analysis-result .total-result span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #000;
    color: rgb(41, 41, 41);
}

.emotional-scale {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 5rem;
}

.emotional-scale span {
    height: 3rem;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(128, 128, 128), rgb(0, 255, 0));
}

.emotional-scale .emotions {
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* color: rgb(33, 109, 209); */
    color: rgb(128, 128, 128);
    font-weight: 600;
    list-style-type: none;
    padding-left: 0;

    margin-top: 5px;
}

.analysis-result .sentences {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    width: 70%;
}