.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  height: 10rem;
  background-color: aliceblue;

  color: #545576;
}


header h1 {
  text-align: center;
}